#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  border: 1px solid #333;
  margin: 50px auto;
  width: 315PX;
  border-radius: 15px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
  font-family: Inter, sans-serif;
  background-color: #918E9B;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header--profile > img {
  height: 315px;
}

.card--info > h1 {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.card--info > h2 {
  color: #F3BF99;
  font-size: 12.8px;
}

.card--info > h3 {
  color: #f5f5f5;
  font-size: 10.24px;
}

.info--buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info--buttons > button {
  margin-left: 10px;
  margin-right: 10px;
}

.info--icon {
  margin-right: 10px;
}

.info--mail {
  background-color: white;
  font-size: 14px;
}

.info--linkedin {
  background-color: #5093E2;
  font-size: 14px;
}

.card--about {
  text-align: left;
}

.card--about > h3 {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #F5F5F5;
}

.card--about > p {
  margin-top: 0px;
  font-size: 10.24px;
  color: #DCDCDC;
}

.footer--icon{
  font-size: 25px;
  margin: 10px 10px 0 10px;
}